@model IEnumerable<Aperture.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<div class="container">
    <div class="card-deck">
    @foreach (var item in Model) {
        <div class="card mb-4">
            <div class="view overlay">
                <img class="card-img-top img-thumbnail" src="@item.Foto" alt ="Producto">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">@item.Nombre</h4>
                <p class="card-text">@item.Descripcion</p>
            </div>
        </div>
    }
    </div>
</div>
