@{
    ViewData["Title"] = "Home Page";
}

<div align="center" class="text-center">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/98/Candlelight_Records.svg/360px-Candlelight_Records.svg.png">
    <h1 class="display-2">Bienvenido a nuestra tienda de música</h1>  
    <h1 class="display-5">Conoce nuestros álbums más comprados</h1>
    
    <div class="container">
        <div class="row">
            <div class="col">
<<<<<<< HEAD
                <img width="300px" src="https://peaceville.com/wp-content/uploads/2016/10/801056866110-1024x992.jpg">
            </div>
        <div class="col">
                <img width="300px" src="http://www.progarchives.com/progressive_rock_discography_covers/9887/cover_5113132822019_r.jpg">
=======
                <img width="500px" src="https://peaceville.com/wp-content/uploads/2016/10/801056866110-1024x992.jpg">
            </div>
        <div class="col">
                <img width="500px" src="http://www.progarchives.com/progressive_rock_discography_covers/9887/cover_5113132822019_r.jpg">
>>>>>>> 9de26e7200d04199efd510dd0f82b43fd64d4f19
        </div>
    </div>
  
    <div class="row">
        <div class="col">
<<<<<<< HEAD
            <img width="300px" src="https://pm1.narvii.com/6846/f8a1b4b86cdeb3e236b973578d617992a3ddbcc9v2_hq.jpg">
        </div>
        <div class="col">
            <img width="300px" src="https://nacionprogresiva.files.wordpress.com/2019/04/gyvv4_1200x.jpg?w=1000">
        </div>
        <div class="col">
            <img width="300px" src="https://images-na.ssl-images-amazon.com/images/I/618cPMblYHL._SL1500_.jpg">
=======
            <img width="500px" src="https://pm1.narvii.com/6846/f8a1b4b86cdeb3e236b973578d617992a3ddbcc9v2_hq.jpg">
        </div>
        <div class="col">
            <img width="500px" src="https://nacionprogresiva.files.wordpress.com/2019/04/gyvv4_1200x.jpg?w=1000">
        </div>
        <div class="col">
            <img width="500px" src="https://images-na.ssl-images-amazon.com/images/I/618cPMblYHL._SL1500_.jpg">
>>>>>>> 9de26e7200d04199efd510dd0f82b43fd64d4f19
        </div>
    </div>
</div>
</div>
