html {
    height: 100%;
    width: 100%;
}

/* Navbar fea usando listas */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-weight: 900;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
<<<<<<< HEAD
  background-color: #38006b;
=======
  background-color: #38006b

;
>>>>>>> 5ddd21cd6faae98344c6ba709d7329d7d7cb3834
}

/* Clases para INDEX */

.nombre {
    color: darkviolet;
}

.fecha {
    color: olivedrab;
}

.texto {
    color: crimson;
}

.mayh {
    width: 10%;
    margin: 30px;
}


/* CLASES PARA BIOGRAFÍA */

.name {
    font-weight: 900;
}

.profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 12px;
}

.frase {
    font-weight: 900;
    color: white;
}

.frase-container {
    padding: 5px;
    background-color: #4a0072;
    text-align: center;
    border-radius: 8px;
}

.frase-container-prec {
    padding: 5px;
    background-color: #494949;
    text-align: right;
    border-radius: 8px;
}

.quote {
    font-weight: 600;
    color: white;
}
